{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" href="{% static 'style/sm.css' %}">
</head>
<body>
<section>
    <div class="home">
        <div class="overlay">
            <nav>
                <div class="logo">
                    <a href="/">Portfolio</a>
                </div>

                <div class="menu">
                    <ul>
                        <li><a href="#"><u>Home</u></a></li>
                        <li><a href="#projects"><u>Projects</u></a></li>
                        <li><a href="#contact"><u>Contact</u></a></li>
                    </ul>
                </div>
            </nav>
            <div class="blur_area">
                <div class="content-area">
                    <div class="container">
                        <div class="left">
                            <div class="left-text">
                                <div class="text-area">
                                    Привет, меня зовут Дима, я прогрмирую на языке python.
                                    <br>
                                    Занимаюсь программированием уже год, кроме python знаю основы Java Script и Pascal
                                </div>
                            </div>
                            <div class="wrapper">
                                <a href="#">
                                    <div class="icon facebook">
                                        <div class="tooltip">Facebook</div>
                                        <span><i class="fab fa-facebook-f"></i></span>
                                    </div>
                                </a>
                                <div class="tooltip">Twitter</div>
                                <div class="icon twitter">
                                    <span><i class="fab fa-twitter"></i></span>
                                </div>
                                <div class="icon instagram">
                                    <div class="tooltip">Instagram</div>
                                    <span><i class="fab fa-instagram"></i></span>
                                </div>
                                <div class="icon github">
                                    <div class="tooltip">Github</div>
                                    <span><i class="fab fa-github"></i></span>
                                </div>
                                <div class="icon youtube">
                                    <div class="tooltip">Youtube</div>
                                    <span><i class="fab fa-youtube"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <img src="{% static 'imges/dog.jpg' %}" alt="">

            </div>
        </div>
    </div>
</section>

<a href="" id="projects"></a>
<section class="projects_area">
    <div class="content-area" id="projects-area">
        <div class="title">
            <h1>My projects</h1>
        </div>

        <div class="cards">
            <div class="card">
                <div class="card-picture">

                </div>
                <div class="card-text">
                    Проект Loly Pop
                    <br>
                    Игра написанная на python
                </div>
            </div>
            <div class="card">

            </div>


        </div>
    </div>
</section>
<a href="" id="contact"></a>
<section>
    <div class="contact-area-background">
        <div class="content_area">
            <form class="contact-area" method="post">
                {% csrf_token %}
                <div class="contact-title">
                    <h1>
                        Contact me
                    </h1>
                </div>
                <div class="input-field">
                    <input name="name" class="input-field-control" type="text" placeholder="Имя">
                </div>
                <div class="input-field">
                    <input name="phone" class="input-field-control" type="number" placeholder="Телефон">
                </div>
                <div class="input-field-btn">
                    <input class="btn" type="submit" placeholder="Ввод">
                </div>
            </form>
        </div>
    </div>
</section>
</body>
</html>